---
name: Django Testing

on:
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      POETFOLIO_DB_NAME: poetfolio_dev
      POETFOLIO_DB_USER: root
      POETFOLIO_DB_PASSWORD: devdevdev
      POETFOLIO_STATIC: /home/runner/static
      POETFOLIO_DB_HOST: 127.0.0.1

    services:
      mariadb:
        image: mariadb:11
        ports:
          - '3306:3306'
        env:
          MARIADB_USER: poetfolio
          MARIADB_PASSWORD: devdevdev
          MARIADB_DATABASE: poetfolio_dev
          MARIADB_ROOT_PASSWORD: devdevdev
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4

      # Install nix and build the flake
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Install flake and check
        run: nix build && nix flake check

      # Verify MariaDB is ready
      - name: Verify MariaDB connection
        env:
          PORT: ${{ job.services.mariadb.ports[3306] }}
        run: |
          while ! mysqladmin ping -h"127.0.0.1" -P"$PORT" --silent; do
            sleep 1
          done

      # Set up Environment
      - name: Set Up Environment
        run: |
          mkdir /home/runner/static
          result/bin/python ekiree_dashboard/manage.py collectstatic

      # Test Migrations
      - name: Test Migrations
        run: result/bin/python ekiree_dashboard/manage.py migrate

      # Run all tests with coverage
      - name: Run Tests
        run: >
          result/bin/python -m coverage run
          --source=ekiree_dashboard
          ekiree_dashboard/manage.py test ekiree_dashboard
          --parallel

      - name: Coverage Report
        run: result/bin/python -m coverage report

      # Type checking
      - name: Type Check
        run: npx pyright --pythonpath result/bin/python ekiree_dashboard/
